{% extends 'registration/base.html' %} {% block content %}

<div class="text-center">
  <h1 class="title">
    Start drafting now
    <a href="{% url 'article_new'  %}" class="btn btn-primary">
      new article.
    </a>
  </h1>
  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse"
      >
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active fw-bold title" aria-current="page" href="{% url 'profile' %}">
                <i class="bi bi-house-heart"></i>
                {{ user.get_username }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="{% url 'articles' user.id %}">
                <i class="bi bi-journal-check"></i>
                Articles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="{% url 'drafts' user.id %}">
                <i class="bi bi-book"></i>
                Drafts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#">
                <i class="bi bi-bookmark-check"></i>
                Published
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="album py-5 bg-light">
          <div class="container">
            {% if articles %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for article in articles %}
              <div class="col">
                <div class="card shadow-sm">
                  <img
                    style="height: 200px; object-fit: cover"
                    src="{{ base_url }}/media/{{ article.image }}"
                  />
                  <div class="card-body">
                    <p class="card-text">{{ article.title }}</p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <a
                          href="{% url 'article' article.slug %}"
                          class="btn btn-sm btn-outline-secondary fw-bold"
                        >
                          View
                        </a>
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary"
                        >
                          Edit
                        </button>

                        <form
                          action="{{ base_url }}/drafts/{{user.id}}/update/{{article.id}}/"
                          method="POST"
                        >
                          {% csrf_token %}
                          <input
                            value="{{ article.status }}"
                            name="status"
                            type="hidden"
                          />
                          <button
                            type="submit"
                            class="btn btn-sm btn-outline-secondary"
                          >
                            Publish
                          </button>
                        </form>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} {% else %}
              <div class="text-center bg-white">
                <h2 class="title text-center">
                  You have not published any articles yet, once you do they will
                  appear here
                </h2>
                <img
                  src="{{base_url}}/media/not_found.svg"
                  alt="not found"
                  class="img-fluid"
                />
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </main>
    </div>
  </div>
  <h1 class="title text-center">
    Go Back
    <a href="{% url 'profile'  %}" class="btn btn-primary">
      <i class="bi bi-arrow-left-square"></i>
    </a>
  </h1>
</div>

{% endblock %}
