{% extends 'registration/base.html' %} {% block content %}
<div class="container-fluid py-5">
  <div class="h-100 align-items-center justify-content-center">
    <div class="container">
      {% if form.errors %}
      <div class="alert alert-danger">
        <span class="title">{{ form.errors }} </span>
      </div>
      {% endif %} {% if success %}
      <div class="alert alert-success text-center">
        <span class="title"
          >{{ success }}
          <a href="{% url 'drafts' user.id %}" class="fw-bold"
            ><i class="bi bi-arrow-right-square"></i></a
        ></span>
      </div>
      {% endif %}
    </div>
    <h1 class="">draft and publish when you feel like &#128540;</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="title"
          value="{{ form.title.value }}"
        />
        <label for="floatingInput">Article Title</label>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
              value="{{ form.image.value }}"
            />
            <label for="floatingInput">Article cover</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select name="topic" class="form-control">
              <option value="">--Select Topic-</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}
            </select>
            <label for="floatingInput">Article Topic</label>
          </div>
        </div>
      </div>

      <br />
      <textarea id="editor" name="content">{{ form.content.value }}</textarea>
      <br />
      <button class="w-100 btn btn-primary" type="submit">SAVE</button>
    </form>
  </div>
  <br />
  <h1 class="title text-center">
    Go Back
    <a href="{% url 'drafts' user.id %}" class="btn btn-primary">
      <i class="bi bi-arrow-left-square"></i>
    </a>
  </h1>
</div>

{% endblock %}
