{% extends "registration/base.html" %} {% block content %}

    <main class="form-signin h-100">
        <form action="" method="post">
            {% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}

            <div class="form-floating">
                <p> Enter your Email Address</p>
                <p class="form-group">{{ form.email }}</p>
                <input
                        type="submit"
                        class="btn btn-primary"
                        value="Reset password"
                />
            </div>
        </form>
    </main>
{% endblock %}
