{% extends "registration/base.html" %} {% block content %}

<main class="form-signin h-100 text-center">
  <form action="" method="post">
    {% csrf_token %} {% if form.email.errors %}
    <div class="alert alert-danger">
      <span>{{ form.email.errors }} </span>
    </div>

    {%endif%}

    <div class="form-floating">
      <h3 class="title">Enter your Email Address</h3>
      <small>
        Please input your valid email, so we can help you reset your password
      </small>
      <br>
      <div class="form-group">{{ form.email }}</div>
      <br><br>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Reset password" />
      </div>
    </div>
  </form>
</main>
{% endblock %}
