{% extends 'registration/base.html' %} {% block content %}

<style>
  .i {
    font-size: 2rem;
  }
</style>
<div class="py-5">
  <div class="h-100 d-flex align-items-center justify-content-center">
    {% if user.is_active == False %}
    <div class="alert alert-success text-center">
      <span class="title"
        >Dear {{ user.get_username}} Check you email and complete email
        verification to be able to draft and publish your articles.</span
      >
    </div>
    {% endif %}

    <div class="album py-5">
      <div class="container">
        <div class="text-center">
          <h2>a rich creative genre</h2>
          <p>
            Including articles, micro headlines, Q&A, columns,and other genres
          </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body text-center">
                <i class="i bi bi-chat-left"></i>
                <p class="card-text text-center">Micro Headlines</p>
                <p>
                  In just a few hundred words, record new things and share your
                  thoughts at the moment
                </p>
                <a href="{% url 'headline_new' %}">
                  <span class="i"
                    ><i class="i bi bi-plus-circle"></i> add
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body text-center">
                <i class="i bi bi-journals"></i>
                <p class="card-text text-center">Articles</p>
                <p>
                  Countless arrangements of pictures and text to express your
                  thoughts to the world
                </p>
                <a href="{% url 'article_new'%}">
                  <span class="i"
                    ><i class="i bi bi-plus-circle"></i> add
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body text-center">
                <i class="i bi bi-journal"></i>
                <p class="card-text">Columns</p>
                <p>
                  Form a column with pictures, texts, videos, etc., and sell
                  them to users at a custom price
                </p>
                <a href="">
                  <span class="i"
                    ><i class="i bi bi-plus-circle"></i> add
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
