Hey {{ user.username}},

I’m Edwin, the founder of Limit Group of companies and I’d like to personally thank you for signing up to our platform.

We established Scratch in order to give people like you an opportunity to be heard, our focus is on enabling you publish the stories you see around you for free.

I’d love to hear what you think of Scratch and if there is anything we can improve. If you have any questions, please reply to this email. I’m always happy to help!

Regards,
Edwin

Creator of Scratch.