{% extends 'writy/base.html' %} {% load static %} {% block content %}
<style></style>
<div class="dark_bg">
  <main class="container">
    {% if message %}
    <div class="alert alert-success text-center">
      <span class="title">{{ message }} &#128513; </span>
    </div>
    {% endif %}
    <div class="row mb-2 pt-4">
      <h3>FEATURED</h3>
      {% if latests %} {% for latest in latests %}
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"
              >{{ latest.topic }}</strong
            >
            <h3 class="mb-0">{{ latest.title | title}}</h3>
            <div class="mb-1 text-muted">{{ latest.created_on }}</div>
            <p class="card-text mb-auto">
              {% comment %} Over the past few weeks concerns have arised on
              matter security... {% endcomment %}
            </p>
            <a
              href="{% url 'article' latest.slug %}"
              class="stretched-link text-white"
            >
              Continue reading
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img
              class="img-fluid featured"
              src="{{base_url}}/media/{{ latest.image }}"
              alt="{{ latest.title }}"
            />
          </div>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 border-bottom title">FROM THE EDITOR</h3>

        {% if articles %} {% for article in articles %}
        <article class="blog-post">
          <h5 class="">{{ article.title | title}}</h5>
          <p class="blog-post-meta">
            {{ articles.updated_on }} by
            <a href="#" class="text-white">{{ article.author }}</a>
          </p>

          <p>{% autoescape off %} {{ article.content }} {% endautoescape %}</p>
        </article>
        {% endfor %} {% endif %}
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#"> Older </a>
          <a
            class="btn btn-outline-secondary disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
          >
            Newer
          </a>
        </nav>
      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem">
          <div class="p-4 mb-3 rounded">
            <h5 class="title">READ MORE.</h5>
            <p class="mb-0">
              We know you are talented, you want to report about issues you see
              around, here is a chance for you..
            </p>
          </div>

          <div class="p-4">
            <h5 class="title">ARCHIVES</h5>
            <ol class="list-unstyled mb-0">
              <li>
                <a href="#" class="text-white">September 2022</a>
              </li>
              <li>
                <a href="#" class="text-white">August 2022</a>
              </li>
              <li>
                <a href="#" class="text-white">July 2022</a>
              </li>
              <li>
                <a href="#" class="text-white">June 2022</a>
              </li>
              <li>
                <a href="#" class="text-white">May 2022</a>
              </li>
            </ol>
          </div>

          <div class="p-4">
            <h5 class="title">ELSEWHERE</h5>
            <ol class="list-unstyled">
              <li>
                <a href="#" class="text-white">March 2021</a>
              </li>
              <li>
                <a href="#" class="text-white">February 2021</a>
              </li>
              <li>
                <a href="#" class="text-white">January 2021</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div class="justify-content-center text-center pt-5 pb-5">
  <p class="lead">Get The Latest Wildlife Stories Delivered To your Inbox</p>
  <a href="" class="btn btn-outline-secondary">subscribe</a>
</div>
{% endblock %}
