{% extends 'writy/base.html' %} {% block content %}

<div class="text-center">
  <main class="form-signin h-100">
    <h3 class="title">
      Get the latest wildlife stories delivered to your inbox, before anyone else!
    </h3>
    <form action="{% url 'subscribe' %}" method="POST">
      {% csrf_token %}

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="email"
          placeholder="name@example.com"
          value="{{ form.email.value }}"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <br />
      <button class="w-100 btn btn-lg b_btn" type="submit">
        Subscribe
      </button>
      <p class="mt-5">We promise not to spam you, Thank You!</p>

    </form>
  </main>
</div>

{% endblock %}
